@import "tailwindcss";
body{
    cursor: url(../public/7599906.png) 16 16 auto;
}
.animated-underline::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 5%;
    bottom: -10px; 
    width: 0%;
    height: 4px;
    background-color: #facc15; 
    animation: underline-run 4s alternate-reverse infinite;
  }
  
  @keyframes underline-run {
    0% {
      width: 0%;
    }
    25%{
        width: 25%;
    }
    50% {
        width: 45%;
    }
    /* 75% {
        width: 75%;
    }
    100% {
      width: 100%;
    } */
  }
  